@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --font-color: #2F384C;
    --egg-white: #FEFFF9;
    --orange: #EA8436;;
    ---white: #fff;
    --dark-orange: #9E4E07;
    --dark-white: #F2E3CE;
}
body{
    background-color: var(--egg-white);
    color: var(--font-color);
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
button, input{
    border: 0;
}
h1{
    font-weight: 600;
    font-size: 3.815vw;
}
h2{
    font-size: 3.052rem;
}
.navbar{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8.5vw;
    transition: all .3s ease-in-out;
    background-color: var(--egg-white);
    z-index: 100;
}
.sticky{
    position: sticky;
}
.container{
    padding: 0 8.5vw;
}
.logo{
    height: 57px;
}
.navigation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation li{
    position: relative;
    list-style: none;
}
.navigation li a{
    position: relative;
    margin: 0 30px;
    color: var(--font-color);
}
.navigation li a:hover{
    border-bottom: solid 2px;
    border-color: var(--orange);
    transition: all ease-in-out;
}
.nav__link--active{
    border-bottom: solid 2px;
    border-color: var(--orange);
}
.menu-btn{
    display: none;
}
.filled{
    background-color: var(--orange);
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
    border-radius: 30px;
    padding: 15px 50px;
    cursor: pointer;
    color: var(---white);
    font-size: 1em;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    text-align: center;
}
.filled--navbar{
    padding: 8px 30px;
}
.filled:hover{
    background-color: var(--dark-orange);
}
.hero, .promociones, .app, .events, .testimonials{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.second-content{
    width: 50%;
    display: flex;
    justify-content: center;
}
.small-text{
    font-weight: 600;
    color: var(--dark-orange);
    letter-spacing: 0.065em;
    text-transform: uppercase;
}
.margin--bottom{
    margin-bottom: 25px;
}
.hero .second-content img{
    width: 90%;
    height: 100%;
}
.product-title{
    text-align: center;
    display: flex;
    flex-direction: column;   
    font-weight: 600;
    margin-bottom: 60px;
}
.font-color{
    font-size: 2.441rem;
}
.font-orange{
    color: var(--dark-orange);
    margin-top: -17px;
}
.product-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}
.item{
    display: flex;
    flex-direction: column;
    color: var(--font-color);
}
.item span{
    text-align: center;
    font-weight: 600;
    font-size: 1.563rem;
}
.product{
    width: 200px;
    height: 200px;
    background-color: var(--dark-white);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: all 0.5s ease;
    cursor: pointer;
}
.product:hover{
    transform: translateY(-15px); 
}
.product img{
    max-width: 70%;
}
.products-list{
    display: inline-grid;
    grid-template-columns: repeat(4,1fr);
    margin: auto;
    grid-gap: 25px;
}
.viernes-pastelero{
    height: 100vh;
    background-color: var(--dark-white);
    overflow: hidden;
    position: relative;
}
.words{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E9D3BB;
    font-size: 5.96rem;
}
.cake-one{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cake-one img{
    max-width: 40vw;
}
.ingredients{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ingredients img{
    max-width: 70vw;
}
.vector{
    width: 100%;
    margin-bottom: -9px;
}
.margin-0{
    margin-bottom: 0;
}
.app{
    background-color: var(--dark-white);
    justify-content: center;
}
.app .product-title{
    text-align: left;
    margin-bottom: 0;
}
.app .first-content{
    max-width: fit-content;
}
.app .second-content{
    max-width: fit-content;
    height: 75%;
    margin-right: 50px;
}
.app .second-content img{
    max-width: 100%;
    max-height: 100%;
}
.img-phone{
    display: flex;
}
.app-logo{
    display: flex;
}
.app-logo img{
    margin-right: 25px;
    width: 100px;
    height: 100px;
}
.img-phone img{
    max-width: 100%;
}
.promociones .first-content{
}
.promociones .second-content img{
    width: 75%;
    height: 100%;
}
.events-container{
    max-width: 50%;
    overflow: hidden;
}
.event-box{
    margin: auto;
}
.event-image{
    max-width: 70%;
    border: 10px solid #F2E3CE;
    border-radius: 10px;
}
.event-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.swiper-slide{
    text-align: center;
    height: fit-content;
    width: 400px;
}  
.swiper-slide span{
    font-size: 1.563rem;
    margin-top: -20px;
}   
.swiper-button-next, .swiper-button-prev{
    color: var(--orange);
}   
.event-text{
    background-color: var(--egg-white);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}   
.events .first-content, 
.testimonials .first-content{
    width: 40%;
} 
.testimonial-box{
    background-color: var(---white);
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
    border-radius: 10px;
    max-width: 390px;
    height: fit-content;
    padding: 50px;
    margin: auto;
}
.testimonial-box p{
    text-align: left;
    font-weight: 400;
}
.person{
    display: flex;
    margin-top: 20px;
}
.person-info span{
    font-size: 1.25rem;
    margin-top: 0;
    text-align: left;
    font-weight: 500;
}
.person-info{
    display: flex;
    flex-direction: column;
}
.stars{
    display: flex;
}
.stars p{
    margin-right: 10px;
}
.avatar-container{
    width: 70px;
    height: fit-content;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.avatar-container img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-orange);
    color: var(---white);
}
.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    width: 100%;
    padding-top: 53px;
    padding-bottom: 53px;
    
}
.contact-info{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-1{
    display: flex;
    flex-direction: column;
}
.info-content{
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.info-title{
    font-weight: 600;
    font-size: 1.563rem;
}
.info-icon{
    display: flex;
    align-items: center;
}
.info-icon a{
    color: var(---white);
}
.info-icon i{
    margin-right: 10px;
    font-size: 1.2em;
    color: var(---white);
}
.social-media{
    display: flex;
}
.social-media a{
    color: var(--white);
}
.social-media i{
    margin-right: 25px;
    font-size: 2.2em;
    color: var(--white);
}
.loader-container{
    width: 100%;
    height: 100%;
    background-color: var(--egg-white);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.loader{
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    border: 5px solid;
    color: var(--orange);
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;
}
.select-products{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.product-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(250px, auto);
    max-width: 80%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.box-style{
    background-color: var(--dark-white);
    border-radius: 10px;
}
.box-style span{
    color: var(--dark-orange);
    font-size: 2.441rem;
    font-weight: 600;
}
.box-style img{
    max-width: 150px;
}
.one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
}
.two {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3 / 6;
}
.three img{
    margin-left: 25px;
}
.two img{
    margin-right: 25px;
}
.three {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 4;
}
.four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 4 / 6;
}
.back-button{
    display: flex;
    color: var(--dark-orange);
    font-weight: 600;
    align-items: center;
    cursor: pointer;
}
.back-button img{
    max-height: 20px;
    margin-right: 20px;
}
.container__textcenter{
    margin-top: 60px;
    text-align: center;
}
.list-products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;

}
.list-products h2{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.dropdown-custom{
    display: flex;
    align-items: center;
}
.dropdown-custom label{
    font-weight: 600;
}
.dropdown-custom select{
    padding: 10px 20px;
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: var(--font-color);
    margin-left: 20px;
}
.listProducts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.listProducts__card{
    background-color: var(--dark-white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 60px;
}
.listProducts__card--sizeSet{
    width: 60%;
    margin: auto;
}
.listProducts__title{
    font-size: 1.953rem;
    color: var(--dark-orange);
    text-align: center;
}
.listProducts__price{
    font-size: 1.563rem;
}
.listProducts__img{
    max-width: 100%;
}
.whiteSpace{
    height: 60px;
}
.pagination{
    display: flex;
    justify-content: center;
}
.pagination__button{
    background-color: var(--dark-white);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 40px;
    height: 40px;
    color: var(--font-color);
    transition: all 0.3s ease;
}
.pagination__button:hover{
    background-color: var(--orange);
    color: var(---white);
}
.pagination__button--active{
    background-color: var(--orange);
    color: var(---white);
}
.pagination__button--disable{
    opacity: 50%;
}
.pagination__button--disable:hover{
    background-color: var(--dark-white);
    color: var(--font-color);
}
#formSection{
    height: 100px;
}
.formContainer{
    display: flex;
    justify-content: space-between;
}
.form{
    width: 55%;
}
.form__title{
    font-weight: 600;
    font-size: 1.953rem;
}
.form__text{
    margin-top: 20px;
    margin-bottom: 20px;
}
.form__wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
.form__box{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form__input{
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
}
.form__textarea{
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px;
}
.sideForm{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideForm__content{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-white);
    border-radius: 10px;
    padding: 50px;
}
.sideForm__title{
    color: var(--dark-orange);
    font-weight: 600;
    font-size: 1.563rem;
}
.sideForm__box{
    display: flex;
    flex-direction: column;
    color: var(--font-color);
}
.sideForm__box .info-icon i{
    color: var(--font-color);
}
.sideForm_vector{
    fill: var(--font-color);
}
.sideForm__wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.sideForm__image{
    max-width: 50%;
}
.form--no-margins{
    margin-top: 60px!important;
}
@keyframes loader{
    75%{
        color: var(--dark-orange);
    }
    to{
        transform: rotate(360deg);
    }
}
@media (max-width: 992px){
    h1{
        font-size: 2.441rem;
        text-align: center;
    }
    h2{
        font-size: 1.953rem;
    }
    h3{
        font-size: 1.953rem;
    }
    .menu-btn{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        z-index: 100;
    }
    .menu-btn-burger{
        width: 30px;
        height: 3px;
        background: var(--font-color);
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }
    .menu-btn-burger::before,
    .menu-btn-burger::after{
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background: var(--font-color);
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }
    .menu-btn-burger::before{
        transform: translateY(-10px);
    }
    .menu-btn-burger::after{
        transform: translateY(10px);
    }
    .menu-btn.open .menu-btn-burger{
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    .menu-btn.open .menu-btn-burger::before{
        transform: rotate(45deg) translate(35px, -35px);
    }
    .menu-btn.open .menu-btn-burger::after{
        transform: rotate(-45deg) translate(35px, 35px);
    }
    .navigation{
        display: none;
    }
    .navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FEFFF9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
        padding-left: 30px;
        padding-right: 30px;
        gap: 60px;
    }
    .hero, .promociones, .app, .events, .testimonials{
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero .small-text{
        text-align: center;
    }
    .first-content{
        width: 100%;
        margin-bottom: 50px;
        align-items: center;
    }
    .second-content{
        width: 100%;
        justify-content: center;
    }
    .hero .first-content{
        margin-top: 100px;
    }
    .mobile-white-space{
        height: 100px;
    }
    .filled{
        padding: 15px 30px;
        width: 100%;
    }
    .products-list{
        grid-template-columns: repeat(2,1fr);
    }
    .product {
        width: 150px;
        height: 150px;
    }
    .product-section{
        margin-bottom: 100px;
    }
    .words{
        font-size: 1.953rem;
    }
    .cake-one img{
        max-width: 230px;
        z-index: 1;
    }
    .ingredients img{
        max-width: 380px;
        z-index: 4;
    }
    .mobile-flex{
        display: flex;
        flex-direction: column;
        font-size: 2.852rem;
    }
    .mobile-tsize{
        font-size: 3.815rem;
        margin-bottom: -20px;
        font-weight: 500;
    }
    .app{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .app .first-content,
    .app .second-content{
        max-width: 85%;
        align-items: center;
        margin-right: 0;
    }
    .promociones .second-content img{
        max-width: 80%;
    }
    .app .product-title .font-color{
        font-size: 1.563rem;
    }
    .app .product-title .font-orange{
        font-size: 1.953rem;
    }
    .app .second-content img {
        max-width: 100%;
    }
    .img-phone{
        justify-content: space-between;
    }
    .events-container{
        max-width: 100%;
    }
    .events{
        flex-direction: column;
        height: fit-content;
    }  
    .events .first-content,
    .testimonials .first-content{
        width: 100%;
        align-items: flex-start;
    } 
    .swiper-slide{
        width: 300px;
    }  
    .info-content{
        flex-direction: column;
        width: 70%;
        justify-content: center;
    }
    .product-wrapper {
        max-width: 100%;
        grid-template-columns: repeat(1,1fr);
        margin-top: 60px;
        margin-bottom: 100px;
    }
    .one, .two, .three, .four {
        grid-column: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .two {
        flex-direction: column-reverse;
    }
    .box-style span{
        font-size: 1.563rem;
    }
    .select-products{
        margin-top: 100px;
    }
    .listProducts{
        grid-template-columns: repeat(1,1fr);
    }
    .whiteSpace{
        height: 100px;
    }
    .list-products{
        flex-direction: column;
        align-items: start;
        margin-top: 100px;
    }
    .list-products h2{
        position: relative;
        left: auto;
        transform: none;
        margin: auto;
    }
    .dropdown-custom{
        margin: auto;
    }
    .container__textcenter{
        margin-top: 100px;
    }
    .formContainer{
        flex-direction: column;
        justify-content: center;
    }
    .form{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .sideForm__wrapper{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 60px;
    }
    .form{
        width: 100%;
    }
    .form__wrapper {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
    .container__textcenter {
        margin-bottom: 60px;
    }
    .listProducts__card{
        padding: 35px;
    }
    .info-content .info-1{
        margin-bottom: 25px;
    }
    .info-content .info-1:nth-child(3){
        margin-bottom: 0;
    }
    .three img{
        margin-left: 0;
    }
    .two img{
        margin-right: 0;
    }
    .sideForm{
        width: 100%;
    }
    .form--no-margins{
        margin-top: 0!important;
    }
}